<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginAndRegister.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>web</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>VerifyOTPServlet</display-name>
    <servlet-name>VerifyOTPServlet</servlet-name>
    <servlet-class>LoginAndRegister.VerifyOTPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyOTPServlet</servlet-name>
    <url-pattern>/VerifyOTPServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPWServlet</display-name>
    <servlet-name>ForgotPWServlet</servlet-name>
    <servlet-class>LoginAndRegister.ForgotPWServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPWServlet</servlet-name>
    <url-pattern>/ForgotPWServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyOTPServletForgotPW</display-name>
    <servlet-name>VerifyOTPServletForgotPW</servlet-name>
    <servlet-class>LoginAndRegister.VerifyOTPServletForgotPW</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyOTPServletForgotPW</servlet-name>
    <url-pattern>/VerifyOTPServletForgotPW</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>LoginAndRegister.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginGoogleServlet</display-name>
    <servlet-name>LoginGoogleServlet</servlet-name>
    <servlet-class>LoginAndRegister.LoginGoogleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginGoogleServlet</servlet-name>
    <url-pattern>/LoginGoogleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>LoginAndRegister.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPlayer</display-name>
    <servlet-name>AddPlayer</servlet-name>
    <servlet-class>PlayerManagement.AddPlayer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPlayer</servlet-name>
    <url-pattern>/AddPlayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePlayer</display-name>
    <servlet-name>DeletePlayer</servlet-name>
    <servlet-class>PlayerManagement.DeletePlayer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePlayer</servlet-name>
    <url-pattern>/DeletePlayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPlayer</display-name>
    <servlet-name>EditPlayer</servlet-name>
    <servlet-class>PlayerManagement.EditPlayer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPlayer</servlet-name>
    <url-pattern>/EditPlayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTeamsForSeason</display-name>
    <servlet-name>GetTeamsForSeason</servlet-name>
    <servlet-class>MatchManagement.GetTeamsForSeason</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeamsForSeason</servlet-name>
    <url-pattern>/GetTeamsForSeason</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMatch</display-name>
    <servlet-name>AddMatch</servlet-name>
    <servlet-class>MatchManagement.AddMatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMatch</servlet-name>
    <url-pattern>/AddMatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMatch</display-name>
    <servlet-name>DeleteMatch</servlet-name>
    <servlet-class>MatchManagement.DeleteMatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMatch</servlet-name>
    <url-pattern>/DeleteMatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeam</display-name>
    <servlet-name>AddTeam</servlet-name>
    <servlet-class>TeamManagement.AddTeam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeam</servlet-name>
    <url-pattern>/AddTeam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTeam</display-name>
    <servlet-name>DeleteTeam</servlet-name>
    <servlet-class>TeamManagement.DeleteTeam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTeam</servlet-name>
    <url-pattern>/DeleteTeam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTeam</display-name>
    <servlet-name>EditTeam</servlet-name>
    <servlet-class>TeamManagement.EditTeam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTeam</servlet-name>
    <url-pattern>/EditTeam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditMatch</display-name>
    <servlet-name>EditMatch</servlet-name>
    <servlet-class>MatchManagement.EditMatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMatch</servlet-name>
    <url-pattern>/EditMatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStats</display-name>
    <servlet-name>AddStats</servlet-name>
    <servlet-class>StatsManagement.AddStats</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStats</servlet-name>
    <url-pattern>/AddStats</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStats</display-name>
    <servlet-name>DeleteStats</servlet-name>
    <servlet-class>StatsManagement.DeleteStats</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStats</servlet-name>
    <url-pattern>/DeleteStats</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStats</display-name>
    <servlet-name>EditStats</servlet-name>
    <servlet-class>StatsManagement.EditStats</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStats</servlet-name>
    <url-pattern>/EditStats</url-pattern>
  </servlet-mapping>
</web-app>